@font-face {
  font-family: 'HemnetBonad-Demibold';
  src: url('https://<heddamarklund>.github.io/<Hemnet-Font>/fonts/HemnetBonad-Demibold.woff2') format('woff2'),
       url('https://<heddamarklund>.github.io/<Hemnet-Font>/fonts/HemnetBonad-Demibold.woff') format('woff');
  font-weight: 600;        
  font-style: normal;
  font-display: swap;
}
